.status-info {
	font-family: 'Menlo', sans-serif;
	font-size: 10px;
	color: #222;
	margin-top: 10px;
}

.progress-bar {
	height: 4px;
	width: 100%;

	.progress {
		background-color: #34495e;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		height: 4px;
		width: 0%;
		transition: 0.5s;
	}
}

.title {
	width: 85px;
	display: inline-block;
	padding-right: 10px;
	text-align: right;
	color: #777;
	transform: scale(.8);
}

hr {
	border-top: #FEFEFE 1px solid;
}

input {
	border: none;

	&:focus {
		outline: none;
	}
}

html {
	cursor: none;
}

text.guidance {
	color: #333;
	font-size: 20px;
	font-family: 'Inconsolata';
	text-anchor: middle;
	dominant-baseline: middle;
}

rect {
	stroke: #EDEDED;
	
	&.hover {
		stroke: #3D3D3D;
	}
}