.status-info {
	font-family: 'Menlo', sans-serif;
	font-size: 10px;
	color: #222;
	margin-top: 10px;
}

.title {
	width: 85px;
	display: inline-block;
	padding-right: 10px;
	text-align: right;
	color: #777;
	transform: scale(.8);
}

hr {
	border-top: #FEFEFE 1px solid;
}

input {
	border: none;

	&:focus {
		outline: none;
	}
}

html {
	cursor: none;
}

text.guidance {
	color: #333;
	font-size: 20px;
	font-family: 'Inconsolata';
}