<div class="container">
	<div class="status-info">
		<div><span class="title">SUBJECT</span><input type="text" name="subject" id="task-subject"></div>
		<hr>
		<div><span class="title">INTERFACE</span><span id="task-interface"></span></div>
		<div><span class="title">DURATION</span><span id="task-duration">-</span></div>
		<div><span class="title">RESULT</span><span id="task-result">-</span></div>
		<hr>
		<div><span class="title">STATUS</span><span id="path-status">-</span></div>
		<hr>
		<div class="settings">
			<div><span class="title">RECORD</span><span id="record-mode">OFF</div>
		</div>
	</div>
</div>