<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<title>octogaze</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.min.css">
</head>
<body>

	<div class="container">
		<div class="status-info">
			<div><span class="title">menu</span><span id="menu-status">off</span></div>
			<div><span class="title">result</span><span id="result-name"></span></div>
			<div><span class="title">score</span><span id="result-score"></span></div>
			<div><span class="title">length</span><span id="path-length"></span></div>
			<div><span class="title">angle</span><span id="path-angle"></span></div>
			<div><span class="title">current</span><span id="path-current"></span></div>
			<div><span class="title">status</span><span id="realtime-status"></span></div>
			<div><span class="title">prefix</span><span id="guidance-mode">off</div>
			<div><span class="title">tangent</span><span id="tangent-mode">off</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script type="text/javascript" src="js/dollar.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>