<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<title>octogaze</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.min.css">
</head>
<body>

	<div class="container">
		<div class="status-info">
			<div><span class="title">MENU</span><span id="menu-status">OFF</span></div>
			<div><span class="title">LENGTH</span><span id="path-length">-</span></div>
			<div><span class="title">ANGLE</span><span id="path-angle">-</span></div>
			<div><span class="title">CURRENT</span><span id="path-current">-</span></div>
			<div><span class="title">SCORE</span><span id="path-status">-</span></div>
			<hr>
			<div><span class="title">RESULT</span><span id="result-name">-</span></div>
			<div><span class="title">SCORE</span><span id="result-score">-</span></div>
			<div><span class="title">TIME</span><span id="result-time">-</span></div>
			<div class="settings">
				<hr>
				<div><span class="title">RECORD</span><span id="record-mode">OFF</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/dollar.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>